<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToDo.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ToDo.Client.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value />
            </setting>
        </ToDo.Client.Properties.Settings>
    </userSettings>
</configuration>